.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 28rem) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  align-items: center;

  align-self: stretch;

  & > * {
    cursor: pointer;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    // To center the number inside
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: 56.25rem) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 56.25rem) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 56.25rem) {
      flex: 1;
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.3rem;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1),
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    z-index: 10;
    position: relative; //Z-index works only when the position is set.

    display: flex;
    align-items: center;

    @media only screen and (max-width: 56.25rem) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: 39.4rem) {
      flex-direction: column;
      gap: 0.7rem;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media only screen and (max-width: 39.4rem) {
      margin-right: 0;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);

  @media only screen and (max-width: 56.25rem) {
    display: none;
  }
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-3);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: 39.4rem) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.76rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0.5rem 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: 39.4rem) {
      padding: 0 1.5rem;
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @media only screen and (max-width: 39.4rem) {
        font-size: 0.5rem;
      }
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 100;
      margin-bottom: -0.3rem;

      @media only screen and (max-width: 39.4rem) {
        font-size: 1.8rem;
      }
    }
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 0.8rem;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";

    //  Old browsers
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    // New browsers
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;

    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__friends {
    display: flex;
  }

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.3rem solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 56.25rem) {
    padding: 2rem;
    margin-bottom: 0;
  }



  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

.cta {
  padding: 3.5rem;
  text-align: center;

  @media only screen and (max-width: 56.25rem) {
    padding: 2.5rem 0;
  }

  &__book-now {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    padding: 2rem 0;

    left: 0;
    top: -100%;
  }

  & > * {
    display: inline-block;
    transition: all 0.2s;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@media only screen and (max-width: 39.4rem) {
  .user-reviews .btn-inline {
    margin-top: 2rem;
  }
}
