.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media only screen and (max-width: 75rem) {
    margin: 0;
    max-width: 100%;
    width: 100;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-radius: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 39.4rem) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: 56.25rem) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  // Interal
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  gap: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: 56.25rem) {
    padding: 3rem;
    gap: 3rem;
  }
  @media only screen and (max-width: 39.4rem) {
    flex-direction: column;
  }
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 2rem;
  flex: 0 0 60%;

  @media only screen and (max-width: 56.25rem) {
    padding: 2rem;
  }
}
.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
